<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facepunch.Steamworks" version="2.3.3" targetFramework="net48" />
  <package id="Facepunch.Steamworks.win32" version="2.3.3" targetFramework="net48" />
  <package id="LinePutScript" version="1.6.1" targetFramework="net48" />
  <package id="Panuon.WPF" version="1.0.1" targetFramework="net48" />
  <package id="Panuon.WPF.UI" version="1.1.6.5" targetFramework="net48" />
</packages>