<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChatGPT.API.Framework" version="1.0.3" targetFramework="net48" />
  <package id="Facepunch.Steamworks" version="2.3.3" targetFramework="net48" />
  <package id="Facepunch.Steamworks.win32" version="2.3.3" targetFramework="net48" />
  <package id="LinePutScript" version="1.8.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Panuon.WPF" version="1.0.1" targetFramework="net48" />
  <package id="Panuon.WPF.UI" version="1.1.10" targetFramework="net48" />
</packages>