<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinePutScript" version="1.8.2" targetFramework="net462" />
  <package id="LinePutScript.Localization.WPF" version="1.0.3" targetFramework="net462" />
  <package id="Panuon.WPF" version="1.0.1" targetFramework="net462" />
  <package id="Panuon.WPF.UI" version="1.1.13.7" targetFramework="net462" />
</packages>